label.slogan{color:rgb(255, 255, 255);font-size:16px;}
div.main-bottom{background-color:rgb(53, 152, 219);}
div.main-bottom{background-image:url(http://pic.ringoer.com/id63819688.png);filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://pic.ringoer.com/id63819688.png", sizingMethod="scale");}
button.u-btn{background-color:#3598db;color:rgb(255, 255, 255);}