<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>课程教学</title>

    <!-- Styles -->
    <link href="assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="assets/css/lib/datatable/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/lib/datatable/buttons.bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/lib/helper.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
    <div th:replace="commons/bar::topbar"/>
    <div th:replace="commons/bar::sidebar"/>

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Hello,
									<span>
									[[${session.loginUser}]]
									</span>
								</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <section id="main-content">
                    <div class="row">
						<div class="col">
							<div class="card card-small mb-4">
								<div class="card-body p-0 pb-3 text-center">
									<table class="table mb-0">
										<thead class="bg-light">
											<tr>
												<th scope="col" class="border-0">#</th>
												<th scope="col" class="border-0">课程名</th>
												<th scope="col" class="border-0">学分</th>
                                                <th scope="col" class="border-0">时间</th>
                                                <th scope="col" class="border-0">地点</th>
                                                <th scope="col" class="border-0">类型</th>
                                                <th scope="col" class="border-0">人数</th>
                                                <th scope="col" class="border-0">上限</th>
                                                <th scope="col" class="border-0">描述</th>
<!--                                                <th scope="col" class="border-0">设置选课人数上限</th>-->
                                                <th scope="col" class="border-0"></th>
											</tr>
										</thead>
										<tbody>
                                        <tr th:each="c:${courses}">
                                            <td th:text="${c.CID}"><input th:value="${c.CID}" th:class="limv+${c.CID}"></td>
                                            <td th:text="${c.cname}"><input th:value="${c.climit}" th:class="limv+${c.CID}"></td>
                                            <td th:text="${c.ccredit}"><input th:value="${c.climit}" th:class="limv+${c.CID}"></td>
                                            <td th:text="${c.cstart_time}+'-'+${c.cend_time}"><input th:value="${c.climit}" th:class="limv+${c.CID}"></td>
                                            <td th:text="${c.csite}"><input th:value="${c.climit}" th:class="limv+${c.CID}"></td>
                                            <td th:text="${c.ctype}"><input th:value="${c.climit}" th:class="limv+${c.CID}"></td>
                                            <td th:text="${c.cnum}"><input th:value="${c.climit}" th:class="limv+${c.CID}"></td>
                                            <td th:text="${c.climit}"><input th:value="${c.climit}" th:class="limv+${c.CID}"></td>

                                            <td th:text="${c.cremark}"><input th:value="${c.climit}" th:class="limv+${c.CID}"></td>
<!--                                            <td><input th:value="${c.climit}" th:class="limv+${c.CID}"></td>-->
                                            <td>
                                                <button type="submit" th:attr="lim_uri=@{/course_lim/}+${c.CID},cid=${c.CID}" class="btn btn-sm btn-primary limitButton">限制人数</button>
                                            </td>
                                        </tr>
										</tbody>
									</table>
                                    <form id="updateLimForm"  method="post">
                                        <input type="hidden" name="_method" value="put"/>
                                        <input type="hidden" name="limit" class="lim_val"/>
                                    </form>
								</div>
							</div>
						</div>
					</div>
                </section>
            </div>
        </div>
    </div>


    
    <!-- jquery vendor -->
    <script src="assets/js/lib/jquery.min.js"></script>
    <script src="assets/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="assets/js/lib/menubar/sidebar.js"></script>
    <script src="assets/js/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->
    
    <!-- bootstrap -->

    <script src="assets/js/lib/bootstrap.min.js"></script><script src="assets/js/scripts.js"></script>
    <!-- scripit init-->
    <script src="assets/js/lib/data-table/datatables.min.js"></script>
    <script src="assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="assets/js/lib/data-table/jszip.min.js"></script>
    <script src="assets/js/lib/data-table/pdfmake.min.js"></script>
    <script src="assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="assets/js/lib/data-table/datatables-init.js"></script>

    <script>
        $(".limitButton").click(function(){
            //修改选课人数上限
            $(".lim_val").val($(".limv"+$(this).attr("cid")).val());
            $("#updateLimForm").attr("action",$(this).attr("lim_uri")).submit();
            return false;
        });
    </script>









</body>

</html>